@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f172a; /* Tailwind slate-900 */
  color: #f8fafc; /* Tailwind slate-50 */
}